{% extends 'base.html' %}
 
{% block content %}
<div class="form-box">
    <h2>Abrir Conta</h2>
    <form method="POST">
        <!-- metodo é a forma como o formulario envia os dados --> 
        {% csrf_token %} <!-- Criptografa os dados enviados pelo formulario -->
       
        <!-- POST -> não exibe os dados no navegador -->
        <!-- GET -> os dados ficam visiveis no endereço no navegador -->
        
        <div class="form-group">
            <label class="name_form">Nome completo:</label>
            <input type="text" name="nome" required>
        </div>
       
        <div class="form-group">
            <label>CPF:</label>
            <input type="text" name="cpf" placeholder="000.000.000-00" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Criar Conta</button>
    </form>
</div>
 
<p>Nome: {{nome}}</p>
<p>CPF: {{cpf}}</p>
{% endblock %}
 