* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ---------- FUNDO DA PÁGINA ----------*/
body {
    background-color: rgb(10, 10, 83);
}

/* ---------- PRIMEIRA PARTE DA PÁGINA ----------*/
.container1 {
    display: grid;
    grid-template-areas:
        'header'
        'barra_nav'
        'informacao'
        'barra_icons'
    ;
    grid-template-rows: 120px 36px;
    grid-template-columns: 99vw;
}

/* ---------- HEADER ----------*/
header {
    grid-area: header;
    background-color: rgb(10, 10, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 100px;
    width: auto;
    margin-left: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.in_pesquisar {
    height: 30px;
    width: 30vw;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn_pesquisar {
    height: 30px;
    width: 85px;
    border-radius: 20px;
    font-weight: bolder;
    transition: 0.3s;
}
.btn_pesquisar:hover {
    cursor: pointer;
    background-color: rgba(64, 182, 203, 0.982);
    color: white;
}
.icon_user {
    scale: 3;
    height: 50px;
    color: rgb(0, 213, 255);
}
.btn_login {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.btn_login:hover {
    background-color: rgba(64, 182, 203, 0.982);
    color: white;
}
.btn_cadastrar {
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.btn_cadastrar:hover {
    background-color: rgba(64, 182, 203, 0.982);
    color: white;
}
.buttons_login{
    height: 50%;
}
.centralizar_login{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* ---------- BARRA DE NAVEGAÇÃO ----------*/
.barra_nav {
    grid-area: barra_nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: rgb(10, 10, 83);
    border-top: solid 1px;
    border-color: white;
}
.bar_nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style-type: none;
    color: white;
}
.item_barnav {
    border-radius: 10px;
    padding: 10px;
    width: 19%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}
.item_barnav:hover {
    border-radius: 5px;
    background-color: rgba(64, 182, 203, 0.982);
    cursor: pointer;
}
.icons_favcar {
    display: flex;
    align-items: center;
}
.fav {
    color: white;
    scale: 1.5;
    margin-left: 30px;
    margin-right: 40px;
    cursor: pointer;
}
.car {
    color: white;
    scale: 1.5;
    cursor: pointer;
    margin-left: 30px;
}

/* ---------- INFORMAÇÃO DE PROMOÇÃO ----------*/
.informacao {
    grid-area: informacao;
    background-color: rgb(216, 216, 216);
    color: rgb(10, 10, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    margin-top: 13px;
}
.img_desconto {
    height: 200px;
    margin: 0;
    margin-right: 200px;
}

/* ---------- BARRA DE ÍCONES DE ATALHO ----------*/
.barra_icons {
    margin-left: 50px;
    margin-right: 50px;
    grid-area: barra_icons;
    background-color: rgb(10, 10, 83);
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}
.grupo_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    width: 50%;
    transition: 0.5s;
}
.grupo_icon:hover {
    cursor: pointer;
    background-color: rgba(64, 182, 203, 0.982);

    .nome_iconbar {
        scale: 1.1;
    }

    .img_icon {
        scale: 230%;
    }
}
.img_icon {
    scale: 2;
    margin-top: 10px;
    margin-bottom: 15px;
}


/* ---------- SEGUNDA PARTE DO CORPO DA PÁGINA ----------*/
.container2 {
    display: grid;
    grid-template-areas:
        'filtros produtos'
        'footer footer'
    ;
    grid-template-rows: 100%;
    grid-template-columns: 220px 200px;
    margin-right: 20px;
}
.produtos {
    display: grid;
    grid-template-areas:
        'produto1 produto2 produto3 produto4 produto5 produto6'
        'produto7 produto8 produto9 produto10 produto11 produto12'
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw;
    margin-top: 10px;
    margin-left: 10px;
}
.ordenar {
    grid-area: filtros;
    display: flex;
    flex-direction: column;
    height: 35%;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: space;
    background-color: rgb(8, 8, 50);
    padding: 8px;
    border-radius: 10px;
    color: white;
}
.form_ordenar {
    display: flex;
    flex-direction: column;
}
.titl_ordenar {
    font-size: 23px;
    margin-bottom: 10px;
}
.reset_limpar {
    height: 28px;
    width: 80%;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
    font-weight: bold;
}
.reset_limpar:hover {
    cursor: pointer;
    background-color: rgba(64, 182, 203, 0.982);
    color: white;
}
.centro_reset {
    display: flex;
    justify-content: center;
}
.inp_radio {
    scale: 1.4;
}
.tipo_ordem {
    font-size: 19px;
}

/* ---------- PRODUTOS ----------*/
.produto1 {
    grid-area: produto1;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto1:hover {
    background-color: rgb(8, 8, 50);
}
.produto2 {
    grid-area: produto2;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto2:hover {
    background-color: rgb(8, 8, 50);
}
.produto3 {
    grid-area: produto3;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto3:hover {
    background-color: rgb(8, 8, 50);
}
.produto4 {
    grid-area: produto4;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto4:hover {
    background-color: rgb(8, 8, 50);
}
.produto5 {
    grid-area: produto5;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto5:hover {
    background-color: rgb(8, 8, 50);
}
.produto6 {
    grid-area: produto6;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto6:hover {
    background-color: rgb(8, 8, 50);
}
.produto7 {
    grid-area: produto7;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto7:hover {
    background-color: rgb(8, 8, 50);
}
.produto8 {
    grid-area: produto8;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto8:hover {
    background-color: rgb(8, 8, 50);
}
.produto9 {
    grid-area: produto9;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto9:hover {
    background-color: rgb(8, 8, 50);
}
.produto10 {
    grid-area: produto10;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto10:hover {
    background-color: rgb(8, 8, 50);
}
.produto11 {
    grid-area: produto11;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto11:hover {
    background-color: rgb(8, 8, 50);
}
.produto12 {
    grid-area: produto12;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(10, 10, 83);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.produto12:hover {
    background-color: rgb(8, 8, 50);
}
.nome_produto {
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
}
.preco {
    font-weight: bold;
    font-size: 20px;
}
.btn_ver {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 4px;
    font-weight: bolder;
    transition: 0.3s;
}

.btn_ver:hover {
    background-color: rgba(64, 182, 203, 0.982);
    color: white;
    cursor: pointer;
}

/* ---------- F O O T E R ----------*/
footer {
    grid-area: footer;
    background-color: rgb(8, 8, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 99vw;
    height: 80px;
    padding-left: 200px;
    padding-right: 200px;

    a {
        color: white;
        text-decoration: none;
    }
}

/* ---------- IMAGENS DOS PRODUTOS ----------*/
.img_produto {
    height: 100px;
    margin-top: 8px;
    border-radius: 10px;
    transition: 0.3s;
}
.img_produto:hover {
    cursor: pointer;
    scale: 1.060;
}